# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Mac/Windows
.DS_Store
Thumbs.db

# Build/Dist
dist/
build/
.cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
venv/
.env
